<mat-card class="user-card">
  <div class="user-card__img">
    <!--<img src="" alt="">-->
  </div>
  <div class="user-card__name">
    <span (click)="showProfile(user._id)">{{ user.userData.userFirstName }} {{ user.userData.userLastName }}</span>
  </div>
  <div class="user-card__class">{{ user.userData.userSchoolGroup.groupName }}</div>
  <div class="user-card__buttons">
    <a href="" mat-raised-button color="accent">Add to friends</a>
    <button mat-raised-button color="primary" (click)="showProfile(user._id)">Show profile</button>
  </div>
</mat-card>
