<div class="profile__wrapper">
  <div class="profile__title">
    <h1>Profile info</h1>
  </div>
  <div class="profile__info" *ngIf="user">
    <sn-profile-info-image
      [userImage]="user.avatar"
      (updateImage)="onUpdateImage($event)"
      [editable]="userImageEditable"
      (switchEditable)="onImageEditable($event)"
    ></sn-profile-info-image>
    <sn-profile-info-data
      [user]="user"
      (updateData)="onUpdateData($event)"
      [editable]="userDataEditable"
      (switchEditable)="onUserEditable($event)"
    ></sn-profile-info-data>
  </div>
</div>
