@import './custom-theme.scss';

/* Reset styles
-------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  appearance: none;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

*:before, *:after{
  box-sizing: border-box;
  outline: none;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
  }
}

q {
  &:before, &:after {
    content: '';
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  appearance: textfield;
}

body, html{
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.header{
  position: relative;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 10;
  .mat-toolbar{
    justify-content: space-between;
  }
  &__logo{
    a{
      display: block;
      position: relative;
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  &__login{
    a{
      color: rgba(0,0,0,.87);
    }
  }
  &__profile{
    padding: 0 16px 0 0;
    &__link{
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      &:hover{
        .header__profile__name{
          color: rgba(255, 255, 255, .67);
          transition: all .3s linear;
        }
      }
    }
    &__icon{
      width: 30px;
      height: 30px;
      margin: 0 10px 0 0;
      border-radius: 50%;
      background: url(assets/img/user-placeholder.png) no-repeat 50% 50% / cover;
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__name{
      font-size: 16px;
      color: #ffffff;
      transition: all .3s linear;
    }
  }
}

.main{
  min-height: calc(100% - 64px);
  background-color: #fafafa;
}

.simple-btn{
  text-decoration: none;
  color: mat-color($accent);
  &:hover{
    text-decoration: underline;
  }
}

.message-modal{
  min-width: 400px;
  &__title{
    text-align: center;
    font-size: 22px;
    margin: 0 0 10px;
  }
  &__descr{
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.67);
    margin: 0 0 25px;
  }
  &__buttons{
    text-align: center;
    margin: 0 10px;
  }

  &.success{
    .message-modal__title{
      color: mat-color($primary);
    }
  }
  &.error{
    .message-modal__title{
      color: mat-color($warn);
    }
  }
}

.auth-form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0 50px;
  &__title{
    text-align: center;
    margin: 0 0 20px;
  }
  &__field{
    width: 100%;
    margin: 0 0 15px;
  }
  &__button{
    padding: 15px 0 0;
  }
  &__bottom{
    padding: 30px 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0,0,0,.87);
  }
}

.profile{
  position: relative;
  padding: 0 0 0 250px;
  min-height: calc(100vh - 64px);
  &__nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
    background-color: #ffffff;
    z-index: 1;
    &__list{
      padding: 30px 0 52px;
    }
    &__item{
      border-bottom: 1px solid rgba(0,0,0,.06);
    }
    &__link{
      display: block;
      position: relative;
      padding: 14px 16px 14px 50px;
      font-size: 18px;
      line-height: 24px;
      color: mat-color($accent);
      text-decoration: none;
      transition: all .4s linear;
      .material-icons{
        position: absolute;
        top: 14px;
        left: 16px;
      }
      &:hover, &.active{
        background-color: #fafafa;
        color: mat-color($primary);
        transition: all .4s linear;
      }
    }
    &__logout{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: none;
      border: none;
      box-shadow: none;
      border-top: 1px solid rgba(0,0,0,.06);
      text-align: left;
      z-index: 1;
      cursor: pointer;
      i{
        transform: scaleX(-1);
      }
    }
  }
  &__wrapper{
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__title{
    position: relative;
    padding: 28px 30px;
    background-color: mat-color($primary);
    h1{
      font-size: 20px;
      font-weight: 400;
      color: hsla(0,0%,100%,.87);
    }
  }
  &__info{
    padding: 20px 70px 50px;
    &__card{
      width: 100%;
    }
  }
}

.users{
  position: relative;
  height: calc(100vh - 64px);
  padding: 0 0 0 300px;
  overflow-y: auto;
  &__filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 30px 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
    background-color: #ffffff;
    z-index: 1;
    &__title{
      margin: 0 0 16px;
      padding: 0 16px;
      font-size: 25px;
      font-weight: 400;
      color: rgba(0,0,0,.54);
    }
    &__list{
      border-top: 1px solid rgba(0,0,0,.06);
      .list-item{
        border-bottom: 1px solid rgba(0,0,0,.06);
      }
      .list-link{
        display: block;
        position: relative;
        padding: 14px 16px;
        font-size: 16px;
        line-height: 22px;
        color: mat-color($accent);
        text-decoration: none;
        transition: all .4s linear;
        cursor: pointer;
        &:hover, &.active{
          background-color: #fafafa;
          color: mat-color($primary);
          transition: all .4s linear;
        }
      }
    }
  }
  &__catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 20px 50px 30px;
    sn-user-card{
      display: block;
      flex: 0 1 25%;
      margin: 0 10px 20px;
    }
    .user-card{
      &__img{
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 auto 15px;
        border-radius: 50%;
        overflow: hidden;
        background: url(assets/img/user-placeholder.png) no-repeat 50% 50% / cover;
        img{
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__name{
        margin: 0 0 10px;
        text-align: center;
        span{
          display: inline-block;
          font-size: 20px;
          color: rgba(0,0,0,.87);
          text-decoration: none;
          cursor: pointer;
          &:hover{
            color: mat-color($accent);
          }
        }
      }
      &__class{
        margin: 0 0 15px;
        text-align: center;
        font-size: 14px;
        color: rgba(0,0,0,.67);
      }
      &__buttons{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

.user-page{
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0 30px;
  &__head{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__img{
    flex: 0 1 200px;
    .img-wrap{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      background: url(assets/img/user-placeholder.png) no-repeat 50% 50% / cover;
      img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 1 100%;
    padding: 0 0 0 40px;
  }
  &__text{
    flex: 3 1 auto;
  }
  &__name{
    margin: 0 0 10px;
    font-size: 22px;
  }
  &__class{
    font-size: 18px;
    span{
      color: rgba(0,0,0,.67);
    }
  }
  &__actions{
    flex: 1 1 auto;
    text-align: right;
  }
  &__descr{
    flex: 1 1 100%;
    padding: 30px 0 0;
    font-size: 16px;
    color: rgba(0,0,0,.67);
  }
}
